- name: Install Nginx
  ansible.builtin.yum:
    name: nginx
    state: latest
- name: Download Frontend  Content
  ansible.builtin.unarchive:
    src: https://github.com/roboshop-devops-project/frontend/archive/main.zip
    dest: /tmp
    remote_src: yes
- name: Remove all files from HTML directory
  ansible.builtin.file:
    path: /usr/share/nginx/html/
    state: absent
- name: Copy roboshop content to HTML directory
  ansible.builtin.copy:
    src: /tmp/frontend-main/static/
    dest: /usr/share/nginx/html/
- name: Start the Nginx Service
    ansible.builtin.systemd:
      name: nginx
      state: restart
      enabled: yes
