- name: Copy Prometheus Config file
  template:
    src: prometheus.yml
    dest: /opt/prometheus/prometheus.yml

- name: Copy Prometheus Alerts file
  template:
    src: alerts.yml
    dest: /opt/prometheus/alerts.yml

- name: Restart Prometheus
  systemd:
    name: prometheus
    state: restarted
    enabled: yes

