route:
  group_by: ['alertname']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 1h
  receiver: 'email'
receivers:
  - name: "email"
    email_configs:
      - to: "btejaparmod@gmail.com"
        from: "btejaparmod@gmail.com
        smarthost: "email-smtp.us-east-1.amazonaws.com:587"
        auth_username: AKIA5NCR4W5KKNRPSV5N
        auth_password: BN42nxoSIwtTUsJu1Wbua7j4KGXFmuWN5N/evoXhGxgP
inhibit_rules:
  - source_match:
      severity: 'critical'
    target_match:
      severity: 'warning'
    equal: ['alertname', 'dev', 'instance']
